In [1]:
import pandas as pd
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()

DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
cursor=cnx.cursor(buffered=True)

In [4]:
Destinations=pd.read_sql('select * from destinations', cnx)

C:\Users\hp\AppData\Local\Temp\ipykernel_7172\1387564387.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Destinations=pd.read_sql('select * from destinations', cnx)

In [12]:
Unidades=Destinations['unit'].unique()
Estados=Destinations['state'].unique()

In [21]:
for i in Estados:
    for j in Unidades:
        MyDestiny=Destinations.loc[(Destinations['unit']==j)&(Destinations['state']==i)]
        if(len(MyDestiny)>0):
            print(i,j,MyDestiny['cost'].values[0])
            mySql_insert_query = """INSERT INTO price_lists ( 
                description, caliber, type, system, piece , cost ,
                f_vta, f_desp, f_emb, f_desc,f_total) 
                                VALUES (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s) """

            record = ('DESTINO '+str(i)+ 'Unidad '+str(j), i, '-', 'DESTINO',i,MyDestiny['cost'].values[0],1.6,2,1.015,0.95,3.419)
            cursor.execute(mySql_insert_query, record)
            cnx.commit()

Estado de México 3.5 T 2.0
Estado de México Pequeña 900.0
Estado de México Torthon 2.0
Estado de México Trailer 4.0
Jalisco 3.5 T 10.0
Jalisco Pequeña 10.0
Jalisco Torthon 21.0
Jalisco Trailer 42.0
CDMX 3.5 T 1.0
CDMX Pequeña 1.0
CDMX Torthon 2.0
CDMX Trailer 5.0
Guanajuato 3.5 T 7.0
Guanajuato Pequeña 7.0
Guanajuato Torthon 15.0
Guanajuato Trailer 30.0
Nuevo León 3.5 T 8.0
Nuevo León Pequeña 8.0
Nuevo León Torthon 17.0
Nuevo León Trailer 34.0
Qurétaro 3.5 T 6.0
Qurétaro Pequeña 6.0
Qurétaro Torthon 13.0
Qurétaro Trailer 26.0
MEXICO Pequeña 350.0

In [36]:
899.4/40.0

22.485

In [38]:
22.485/4.915

4.574771108850458

In [49]:
14.64*40*4.915/2

1439.112

In [51]:
6.10*30

183.0