In [12]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import numpy as np
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SER√Å 0 SIEMPRE UWU
id=82
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)
quotation=pd.read_sql("select * from quotations where id=" +str(id),cnx)
#traer datos de los pedidos
# pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
# coins.exchange_sell, coins.coin, coins.symbol,coins.code
# from ((
#     internal_orders
#     inner join customers on customers.id = internal_orders.customer_id )
#     inner join coins on internal_orders.coin_id = coins.id)
#      """,cnx)
writer = pd.ExcelWriter('administrativo'+str(id)+'.xlsx', engine='xlsxwriter')

workbook = writer.book
##FORMATOS PARA EL TITULO------------------------------------------------------------------------------
rojo_l = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13,
    
    'text_wrap': True,
    'num_format': 'dd/mm/yyyy'}) 
rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})      

#FORMATOS PARA CABECERAS DE TABLA --------------------------------
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'center',
    'fg_color': 'yellow',
    'border': 1,})

blue_header_format = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1})
blue_header_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'num_format': '[$$-409]#,##0.00',
    'border': 1,
    'font_size':13})
blue_footer_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1,
    'num_format': '[$$-409]#,##0.00',
    'font_size':11})
red_header_format = workbook.add_format({
    'bold': True,
    'bg_color': b_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1})

red_header_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': b_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1,
    'font_size':13})


#FORMATOS PARA TABLAS PER CE------------------------------------

blue_content = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    
    'border_color':a_color,
    'font_size':10,
    'num_format': '[$$-409]#,##0.00'})
blue_content_unit = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    
    'border_color':a_color,
    'font_size':10,
    'num_format': '0.00'})
blue_content_bold = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':11,
    'border_color':a_color,
    'num_format': '[$$-409]#,##0.00'})

blue_content_bold_dll = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':11,
    'bg_color': '#b4e3b1',
    'border_color':a_color,
    'num_format': '[$$-409]#,##0.00'})
blue_content_date = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':9,
    'border_color':a_color,
    'num_format': 'dd/mm/yyyy'})
#FOOTER FORMATS---------------------------------------------------------
observaciones_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#BDD7EE',
    'border': 1})

blue_content_dll = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'bg_color': '#b4e3b1',
    'border_color':a_color,
    'font_size':10,
    'num_format': '[$$-409]#,##0.00'})

total_cereza_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'border': 1})
df=quotation[['id','user_id']]

df[0:1].to_excel(writer, sheet_name='Sheet1', startrow=7,startcol=6, header=False, index=False)
worksheet = writer.sheets['Sheet1']
#Encabezado del documento--------------

import datetime

currentDateTime = datetime.datetime.now()
date = currentDateTime.date()
year = date.strftime("%Y")

#aki voy a trae r todos los datos
tablas={'double_deep_crossbars' : 'VIGA TIPO CAJA DE DOBLE PROFUNDIDAD DE 2.5',
'double_deep_floors' : 'SUELOS DE DOBLE PROFUNDIDAD',
'double_deep_floor_reinforcements' : 'REFUERZOS PARA EL SUELO DE DOBLE PROFUNDIDAD',
'double_deep_heavy_load_frames' : 'BASTIDORES DE CARGA PESADA DE DOBLE PROFUNDIDAD',
'double_deep_joist_box25s' : 'VIGA TIPO CAJA DE DOBLE PROFUNDIDAD DE 2.5',
'double_deep_joist_box25_caliber14s' : 'VIGA TIPO CAJA DE DOBLE PROFUNDIDAD DE 2.5 CALIBRE 14',
'double_deep_joist_box2s' : 'VIGA TIPO CAJA DE DOBLE PROFUNDIDAD DE 2',
'double_deep_joist_box2_caliber14s' : 'VIGA TIPO CAJA DE DOBLE PROFUNDIDAD DE 2 CALIBRE 14',
'double_deep_joist_c2_s' : 'VIGA DE DOBLE PROFUNDIAD TIPO C2',
'double_deep_joist_chairs' : 'VIGA DE DOBLE PROFUNDIAD TIPO SILLA',
'double_deep_joist_l25_caliber14s' : 'VIGA TIPO L DE DOBLE PROFUNDIDAD DE 2.5 CALIBRE 14',
'double_deep_joist_l25_s' : 'VIGA TIPO L DE DOBLE PROFUNDIDAD DE 2.5 ',
'double_deep_joist_l2_caliber14s' : 'VIGA TIPO L DE DOBLE PROFUNDIDAD DE 2 CALIBRE 14',
'double_deep_joist_l2_s' : 'VIGA TIPO L DE DOBLE PROFUNDIDAD DE 2 ',
'double_deep_joist_lrs' : 'VIGA DE DOBLE PROFUNDIAD TIPO LR',
'double_deep_joist_structurals' : 'VIGA DE DOBLE PROFUNDIAD TIPO ESTRUCTURAL',
'double_deep_miniature_frames' : 'MARCOS EN MINIATURA DE DOBLE PROFUNDIDAD',
'double_deep_spacers' : 'ESPACIADOR DE DOBLE PROFUNDIDAD',
'double_deep_structural_frames' : 'MARCOS ESTRUCTURALES DE DOBLE PROFUNDIDAD',
'freights' : 'FLETES',
'grills' : 'PARRILLA',
'installations' : 'INSTALACIONES',
'packagings' : 'FLETE',
'quot25_j_galvanized_panels' : 'PANELES GALVANIZADOS DE 25 ',
'quot25_j_painted_panels' : 'PANELES PINTADOS DE 25 ',
'quot2_j_galvanized_panels' : 'PANELES GALVANIZADOS DE 2 IN',
'quot2_j_painted_panels' : 'PANELES PINTADOS DE 2 IN',
'quotation_administratives' : 'PRESUPUESTOS ADMINISTRATIVOS',
'quotation_installs' : 'INSTALACION',
'quotation_protectors' : 'PRESUPUESTO PROTECTORES',
'quotation_specials' : 'PRESUPUESTO ESPECIAL',
'quotation_travel_assignments' : 'ASIGNACION DE VIAJES',
'quotation_uninstalls' : 'DESINTALACION',
'quot_chair_j_galvanized_panels' : 'PANELES GALVANIZADOS SILLA',
'quot_chair_j_painted_panels' : 'PANELES PINTADOS  SILLA',
'selective_crossbars' : 'CROSSBAR ',
'selective_floors' : 'PISO SELECTIVO',
'selective_floor_reinforcements' : 'PISO REFORZADO SELECTIVO',
'selective_heavy_load_frames' : 'MARCO SELECTIVO',
'selective_joist_box25s' : 'SELECTIVO VIGA CAJA DE 25',
'selective_joist_box25_caliber14s' : 'SELECTIVO VIGA CAJA DE 25 CALIBRE 14',
'selective_joist_box2s' : 'SELECTIVO VIGA CAJA DE 2',
'selective_joist_box2_caliber14s' : 'SELECTIVO VIGA CAJA DE 2 CALIBRE 14',
'selective_joist_c2_s' : 'SELECTIVO VIGA C2',
'selective_joist_chairs' : 'SELECTIVO VIGA SILLA',
'selective_joist_l25_caliber14s' : 'SELECTIVO VIGA L25 CALIBRE 14',
'selective_joist_l25_s' : 'SELECTIVO VIGA L25 ',
'selective_joist_l2_caliber14s' : 'SELECTIVO VIGA L2 CALIBRE 14',
'selective_joist_l2_s' : 'SELECTIVO VIGA L2',
'selective_joist_lrs' : 'SELECTIVO VIGA LSR',
'selective_joist_structurals' : 'SELECTIVO VIGA ESTRUCTURAL',
'selective_miniature_frames' : 'MARCOS EN MINIATURA SELECTIVOS',
'selective_spacers' : 'SELECTIVO ESPACIADORES',
'selective_structural_frames' : 'SELECTIVO MARCO ESTRUCTURAL',
'uninstalls' : 'DESINSTALAR',
'wood' : 'MADERA',}
aceros=pd.read_sql('select * from steels ',cnx)
aceros.loc[aceros['caliber']=='EST 3 IN','caliber']='EST3'

products=pd.DataFrame()
#iterar sobre tablas
for i in tablas:
    print(i)
    #buscar en la base de datos todos los productos de esta tabla
    #pertenecientes a la cotizacion pedida por el usuario.
    p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
    p=p.assign(tabla=i)
    if(('cost' not in p.columns)&(len(p)>0)):
        if('caliber' not in p.columns):
             #esto es en especifico por un caso en que todas kas piezas son cal 14
             p=p.assign(caliber='14')
        try:
            p['caliber']=p['caliber'].str.replace('-','')
        except:
            print(' ')
        print(str(p['caliber'].values[0]))
        costo=aceros.loc[aceros['caliber']==str(p['caliber'].values[0]),'cost'].values[0]
        if('total_kg' in p.columns):
            p=p.assign(cost=costo*p.total_kg)
        if('total_weight' in p.columns):
           
            p=p.assign(cost=costo*p.total_weight)
        if('weight_kg' in p.columns):
         
            p=p.assign(cost=costo*p.weight_kg)
        if('weight' in p.columns):
          
            p=p.assign(cost=costo*p.weight)
        if('long' in p.columns):
           
            p=p.assign(cost=costo*p.long)
        print(i)
    products=products.append(p,ignore_index=True)
cols_to_fill_str=['description','protector','model','sku']
products[cols_to_fill_str]=products[cols_to_fill_str].fillna('')
cols_kg=['weight','total_kg','total_weight','weight_kg']
cols_m2=['m2','total_m2']
products[cols_kg+cols_m2]=products[cols_kg+cols_m2].fillna(0)

pricelist_protectors=pd.read_sql('select * from price_list_protectors',cnx)
quotation_protectors=pd.read_sql('select quotation_protectors.*, protectors.sku from quotation_protectors  inner join protectors on protectors.protector=quotation_protectors.protector where quotation_id ='+str(id),cnx)
quotation_shlf=pd.read_sql('select * from selective_heavy_load_frames where quotation_id ='+str(id),cnx)
df[0:1].to_excel(writer, sheet_name='Sheet1', startrow=7,startcol=6, header=False, index=False)
materials=pd.read_sql('select * from (materials left join price_list_screws on materials.price_list_screw_id= price_list_screws.id)left join price_lists on price_lists.id=materials.price_list_id',cnx)
worksheet = writer.sheets['Sheet1']
#Encabezado del documento--------------
worksheet.merge_range('B2:F2', 'REPORTE POR COTIZACION ', negro_b)
worksheet.merge_range('B3:F3', 'ADMINISTRATIVO', negro_s)
worksheet.merge_range('B4:F4', 'COSTOS ', negro_b)
worksheet.write('H2', 'A√ëO', negro_b)

worksheet.write('I2', year, negro_b)
worksheet.merge_range('J2:K3', """FECHA DEL REPORTE
DD/MM/AAAA""", negro_b)

worksheet.write('L2', date, negro_b)
worksheet.insert_image("A1", "img/logo/logo.png",{"x_scale": 0.6, "y_scale": 0.6})
worksheet.merge_range('C6:C8', 'PDA', blue_header_format)
worksheet.merge_range('D6:D8', 'SKU	', blue_header_format)
worksheet.merge_range('E6:E8', 'CANT', blue_header_format)	
worksheet.merge_range('F6:F8', 'DESCRIPCION', blue_header_format)	
worksheet.merge_range('G6:G8', 'CTO UNIT', blue_header_format)	
worksheet.merge_range('H6:H8', 'CTO TOTAL', blue_header_format)	
worksheet.merge_range('I6:I8', 'CALIBRE	', blue_header_format)
worksheet.merge_range('J6:J8', 'KG UNIT	', blue_header_format)
worksheet.merge_range('K6:K8', 'KG TOTAL', blue_header_format)	
worksheet.merge_range('L6:L8', 'CTO X KG', blue_header_format)	
worksheet.merge_range('M6:M8', 'M2 UNIT	', blue_header_format)
worksheet.merge_range('N6:N8', 'M2 TOT', blue_header_format)

row_count=9
def ret_na(value):
    try:
        x=float(value)
    except:
        x='NA'
    try:
        if(np.isnan(x)):
            x='NA'
        if(np.isinf(x)):
            x='NA'
    except:
        x='NA'
    return x
def num(value):
    try:
        x=float(value)
    except:
        x=0
    if((np.isnan(x))|(np.isinf(x))):
        x=0
    return x
#iterar sobre los productos

for i in range(0,len(products)):
    
    def my_func(row, table_name):
        return row in table_name
    piezas=materials.loc[materials['product'].apply(my_func,table_name=products['tabla'].values[i])]
    costo_product=products['cost'].values[i]
    n=len(piezas)
    piezas['type']=piezas['type'].fillna('')
    print(n,products['tabla'].values[i],row_count,products['cost'].values[i])
    #pda
    worksheet.write('C'+str(row_count), str(i*n+1), blue_content)
    #sku
    worksheet.write('D'+str(row_count), products['sku'].values[i], blue_content)
    worksheet.write('E'+str(row_count), str(products['amount'].values[i]), blue_content)
    #descripcion
    worksheet.write('F'+str(row_count), tablas[products['tabla'].values[i]]+products['protector'].values[i]+' '+products['model'].values[i], blue_content)
    #costos
    print(costo_product)
    worksheet.write('G'+str(row_count), products['cost'].values[i], blue_content)
    worksheet.write('H'+str(row_count), products['amount'].values[i]*products['cost'].values[i], blue_content)
    #calibre
    worksheet.write('I'+str(row_count), ret_na(products['caliber'].values[i]), blue_content)
    #pesos
    worksheet.write('J'+str(row_count),(num(products['total_weight'].values[i])+num(products['total_kg'].values[i])+products['weight'].values[i]+products['weight_kg'].values[i])/products['amount'].values[i], blue_content_unit)
    worksheet.write('K'+str(row_count),(num(products['total_weight'].values[i])+num(products['total_kg'].values[i])+products['weight'].values[i]+products['weight_kg'].values[i]), blue_content_unit)
    try: 
        worksheet.write('L'+str(row_count),ret_na(num(products['amount'].values[i]*products['cost'].values[i])/(num(products['total_weight'].values[i])+num(products['total_kg'].values[i]))), blue_content)
    except:
        worksheet.write('L'+str(row_count),'NA', blue_content)
    #medidas
    worksheet.write('M'+str(row_count),products['m2'].values[i]+products['total_m2'].values[0], blue_content_unit)
    worksheet.write('N'+str(row_count),(products['m2'].values[i]+products['total_m2'].values[0])*products['amount'].values[i], blue_content)
    row_count=row_count+1
    #PIEZAS PIEZAS PIEZAS CICLO DE PIEZAS
    for j in range(0,n):
        
        print('entre al ciclo')
        print(piezas['cost'].fillna(0).values[j],piezas['amount'])
        costo= piezas['cost'].fillna(0).values[j].sum()
        cant= piezas['amount'].fillna(0).values[j].sum()
        worksheet.write('C'+str(row_count), str(i*n+2+j), blue_content)
        #sku
        worksheet.write('D'+str(row_count), 'TC..', blue_content)
        worksheet.write('E'+str(row_count), str(piezas['amount'].values[j]), blue_content)
        worksheet.write('F'+str(row_count), str(piezas['description'].values[j]), blue_content)
        #costos
        worksheet.write('G'+str(row_count),costo, blue_content)
        worksheet.write('H'+str(row_count), cant*costo, blue_content)
        #calibre
        worksheet.write('I'+str(row_count), piezas['type'].values[j][0]+piezas['type'].values[j][1], blue_content_unit)
        #pesos
        worksheet.write('J'+str(row_count),str(0.0), blue_content_unit)
        worksheet.write('K'+str(row_count),str(0.0), blue_content_unit)
        worksheet.write('L'+str(row_count), str(0.0), blue_content)
        #medidas
        worksheet.write('M'+str(row_count), 0.0, blue_content_unit)
        worksheet.write('N'+str(row_count), 0.0, blue_content_unit)
        row_count=row_count+1
trow=row_count


#TOTALES
worksheet.merge_range('C'+str(trow+1)+':E'+str(trow), 'TOTAL (EQV M.N)', blue_header_format_bold)
worksheet.write_formula('H'+str(trow),'{=SUM(H9:H'+str(trow-1)+')}',blue_footer_format_bold)
worksheet.write_formula('K'+str(trow),'{=SUM(K9:K'+str(trow-1)+')}',blue_footer_format_bold)
worksheet.write_formula('N'+str(trow),'{=SUM(N9:N'+str(trow-1)+')}',blue_footer_format_bold)




# worksheet.write('K'+str(trow), str(cobros['amount'].sum()), blue_content)
# worksheet.write('L'+str(trow), str(cobros['exchange_sell'].values[0]*cobros['amount'].sum()), blue_content_bold)


#RESUMEN
worksheet.merge_range('D'+str(trow+3)+':E'+str(trow+4),'RESUMEN DE KILOS',blue_header_format_bold)
#subtabla 1, kilos
worksheet.write('D'+str(trow+5),'KILOS',blue_header_format)
worksheet.write('E'+str(trow+5),'CALIBRE',blue_header_format)
suma_peso=0
art_i=0
for i in products['caliber'].fillna('NA').astype(str).unique():
    if(i!='NA'):
        print(i)
        p=products.loc[products['caliber']==i]
        sum_kg=p['weight'].fillna(0).sum()+p['total_weight'].fillna(0).sum()+p['weight_kg'].fillna(0).sum()+p['total_kg'].fillna(0).sum()
        suma_peso=suma_peso+sum_kg
        worksheet.write('D'+str(trow+6+art_i),sum_kg,blue_content)
        worksheet.write('E'+str(trow+6+art_i),i,blue_content)
        art_i=art_i+1

worksheet.write('D'+str(trow+5+len(products['caliber'].unique())),suma_peso,blue_footer_format_bold)
#subtabla2 costos
worksheet.merge_range('H'+str(trow+4)+':K'+str(trow+4),'RESUMEN DE COSTOS',blue_header_format_bold)
worksheet.write('L'+str(trow+4),'POSICION',blue_header_format)
worksheet.write('M'+str(trow+4),'KILOS',blue_header_format)
worksheet.write('N'+str(trow+4),'PORCENTAJE',blue_header_format)

worksheet.merge_range('H'+str(trow+5)+':K'+str(trow+5),'CONTRATO UNITARIO SOLO MATERIALES',blue_header_format)
worksheet.merge_range('H'+str(trow+6)+':K'+str(trow+6),'CONTRATO UNITARIO SOLO ARMADO',blue_header_format)
worksheet.merge_range('H'+str(trow+7)+':K'+str(trow+7),'CONTRATO UNITARIO SOLO TRASLADO',blue_header_format)
worksheet.merge_range('H'+str(trow+8)+':K'+str(trow+8),'CONTRATO UNITARIO COMBINADO',blue_header_format)


costo_total=products['cost'].sum()+materials['cost'].fillna(0).sum(axis=1, numeric_only=True).sum()

worksheet.write('L'+str(trow+5),materials['cost'].fillna(0).sum(axis=1, numeric_only=True).sum(),blue_content)
worksheet.write('M'+str(trow+5),0,blue_content)
worksheet.write('N'+str(trow+5),materials['cost'].fillna(0).sum(axis=1, numeric_only=True).sum()/costo_total*100,blue_content)

worksheet.write('L'+str(trow+6),products.loc[products['tabla'].isin(['quotation_installs','quotation_uninstalls']),'cost'].sum(),blue_content)
worksheet.write('M'+str(trow+6),products.loc[products['tabla'].isin(['quotation_installs','quotation_uninstalls']),'cost'].sum()/costo_total*100,blue_content)
worksheet.write('N'+str(trow+6),0,blue_content)

worksheet.write('L'+str(trow+7),products.loc[(products['tabla'].isin(['quotation_travel_assignments','packagings'])),'cost'].sum(),blue_content)
worksheet.write('M'+str(trow+7),0,blue_content)
worksheet.write('N'+str(trow+7),products.loc[(products['tabla'].isin(['quotation_travel_assignments','packagings'])),'cost'].sum()/costo_total*100,blue_content)

worksheet.write('L'+str(trow+8),products['cost'].sum(),blue_content)
worksheet.write('M'+str(trow+8),products[cols_kg].sum(axis=1, numeric_only=True).sum(),blue_content)
worksheet.write('N'+str(trow+8),'100%',blue_content)
#TODO: calcular bien esto, to6al menos iva

worksheet.set_column('A:A',15)
worksheet.set_column('D:D',20)
worksheet.set_column('F:F',25)
worksheet.set_column('L:L',15)
worksheet.set_column('G:G',15)
worksheet.set_column('H:H',15)
worksheet.set_column('I:N',15)
worksheet.set_column('P:T',15)

#worksheet.set_landscape()
worksheet.set_paper(9)
worksheet.fit_to_pages(1, 1)  
workbook.close()

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

double_deep_crossbars
double_deep_floors
double_deep_floor_reinforcements
double_deep_heavy_load_frames
double_deep_joist_box25s
double_deep_joist_box25_caliber14s
double_deep_joist_box2s
double_deep_joist_box2_caliber14s
double_deep_joist_c2_s
double_deep_joist_chairs
double_deep_joist_l25_caliber14s
double_deep_joist_l25_s
double_deep_joist_l2_caliber14s
double_deep_joist_l2_s
double_deep_joist_lrs
double_deep_joist_structurals
double_deep_miniature_frames
double_deep_spacers
double_deep_structural_frames
freights
grills
installations
packagings
quot25_j_galvanized_panels

14
quot25_j_galvanized_panels
quot25_j_painted_panels

14
quot25_j_painted_panels
quot2_j_galvanized_panels

14
quot2_j_galvanized_panels
quot2_j_painted_panels

14
quot2_j_painted_panels
quotation_administratives
quotation_installs
quotation_protectors

C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

quotation_specials
quotation_travel_assignments
quotation_uninstalls
quot_chair_j_galvanized_panels

14
quot_chair_j_galvanized_panels
quot_chair_j_painted_panels

14
quot_chair_j_painted_panels
selective_crossbars
14
selective_crossbars
selective_floors
14
selective_floors
selective_floor_reinforcements
14
selective_floor_reinforcements
selective_heavy_load_frames
14
selective_heavy_load_frames
selective_joist_box25s
10
selective_joist_box25s
selective_joist_box25_caliber14s
14
selective_joist_box25_caliber14s
selective_joist_box2s
10
selective_joist_box2s
selective_joist_box2_caliber14s
14
selective_joist_box2_caliber14s
selective_joist_c2_s
10
selective_joist_c2_s
selective_joist_chairs
10
selective_joist_chairs
selective_joist_l25_caliber14s

C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

14
selective_joist_l25_caliber14s
selective_joist_l25_s
10
selective_joist_l25_s
selective_joist_l2_caliber14s
14
selective_joist_l2_caliber14s
selective_joist_l2_s
10
selective_joist_l2_s
selective_joist_lrs
16
selective_joist_lrs
selective_joist_structurals
EST3
selective_joist_structurals
selective_miniature_frames
selective_spacers
12
selective_spacers
selective_structural_frames
EST3
selective_structural_frames
uninstalls
wood
0 grills 9 0.0
0.0
0 packagings 10 3.42
3.42
0 packagings 11 3.42
3.42
0 quot25_j_galvanized_panels 12 73.60000000000001
73.60000000000001
0 quot25_j_painted_panels 13 73.60000000000001
73.60000000000001
0 quot2_j_galvanized_panels 14 76.0
76.0
0 quot2_j_painted_panels 15 76.0
76.0
0 quotation_administratives 16 0.0
0.0
0 quotation_installs 17 15.0
15.0
0 quotation_installs 18 15.0
15.0
0 quotation_protectors 19 201.36
201.36
0 quotation_specials 20 0.0
0.0
1 quotation_travel_assignments 21 1367.6
1367.6
entre al ciclo
[0. 1.] 22   NaN
Name: amount, dtype: float64
0 quotation_uninstalls 23 10.0
10.0

C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\xlsxwriter\worksheet.py:1439: UserWarning: Image file 'img/logo/logo.png' not found.
  warn("Image file '%s' not found." % filename)
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\536541645.py:384: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  piezas['type']=piezas['type'].fillna('')

0 quotation_uninstalls 24 10.0
10.0
0 quot_chair_j_galvanized_panels 25 73.60000000000001
73.60000000000001
0 quot_chair_j_painted_panels 26 80.39999999999999
80.39999999999999
0 selective_crossbars 27 36.56
36.56
4 selective_floors 28 1.2
1.2
entre al ciclo
[ 0. 37.] 31     NaN
32     6.0
33     8.0
34    10.0
Name: amount, dtype: float64
entre al ciclo
[1. 0.] 31     NaN
32     6.0
33     8.0
34    10.0
Name: amount, dtype: float64
entre al ciclo
[1. 0.] 31     NaN
32     6.0
33     8.0
34    10.0
Name: amount, dtype: float64
entre al ciclo
[1. 0.] 31     NaN
32     6.0
33     8.0
34    10.0
Name: amount, dtype: float64
0 selective_floor_reinforcements 33 0.9279999999999999
0.9279999999999999
5 selective_heavy_load_frames 34 399.6
399.6
entre al ciclo
[1. 0.] 0     4.0
1     4.0
2     4.0
35    NaN
36    NaN
Name: amount, dtype: float64
entre al ciclo
[8. 0.] 0     4.0
1     4.0
2     4.0
35    NaN
36    NaN
Name: amount, dtype: float64
entre al ciclo
[ 0. 37.] 0     4.0
1     4.0
2     4.0
35    NaN
36    NaN
Name: amount, dtype: float64
entre al ciclo
[0. 0.] 0     4.0
1     4.0
2     4.0
35    NaN
36    NaN
Name: amount, dtype: float64
entre al ciclo
[0. 0.] 0     4.0
1     4.0
2     4.0
35    NaN
36    NaN
Name: amount, dtype: float64
1 selective_joist_box25s 40 27.88
27.88
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_box25_caliber14s 42 48.4
48.4
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_box2s 44 28.049999999999997
28.049999999999997
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_box2_caliber14s 46 48.8
48.8
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_c2_s 48 20.23
20.23
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_chairs 50 20.23
20.23
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_l25_caliber14s 52 48.348000000000006
48.348000000000006
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_l25_s 54 27.691300000000002
27.691300000000002
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_l2_caliber14s 56 48.0
48.0
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_l2_s 58 27.540000000000003
27.540000000000003
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_lrs 60 35.2
35.2
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_structurals 62 36.0
36.0
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_spacers 64 5.784
5.784
entre al ciclo
[1. 0.] 4    4.0
Name: amount, dtype: float64
2 selective_structural_frames 66 573.9
573.9
entre al ciclo
[0. 0.] 35   NaN
36   NaN
Name: amount, dtype: float64
entre al ciclo
[0. 0.] 35   NaN
36   NaN
Name: amount, dtype: float64
14
10
16
EST3
12

In [ ]:
Destinations=pd.read_sql('select * from destinations', cnx)

0    selective_heavy_load_frames
Name: tabla, dtype: object

In [16]:
materials=materials.assign(true_sku=''.join(materials.sku))

In [21]:
''.join(materials['sku'].fillna('').values[0])

'TC0000127574'

In [7]:
materials=pd.read_sql('select * from (materials left join price_list_screws on materials.price_list_screw_id= price_list_screws.id)left join price_lists on price_lists.id=materials.price_list_id',cnx)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
materials['Sku'].fillna('').replace('\r\n','')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27        TC0000127574\r\n
28        TC0000127592\r\n
29        TC0000127591\r\n
30        TC0000127574\r\n
31
32        TC0000127574\r\n
33        TC0000127574\r\n
34        TC0000127574\r\n
35
36
37        TC0000127591\r\n
38        TC0000127591\r\n
39        TC0000127591\r\n
40        TC0000127591\r\n
41        TC0000127591\r\n
42        TC0000127591\r\n
43        TC0000127591\r\n
44        TC0000127591\r\n
45        TC0000127591\r\n
46        TC0000127591\r\n
47        TC0000127591\r\n
48    TC0000127587\r\n\r\n
Name: Sku, dtype: object

In [34]:
piezas=materials.loc[materials['product']=='selective_heavy_load_frames']

In [64]:
products['cost']

0         20.0
1         3.42
2         3.42
3       1472.0
4       1472.0
5       1520.0
6        684.0
7         29.0
8        150.0
9       1500.0
10        15.0
11      185.16
12      370.32
13         9.0
14      1367.6
15      1367.6
16        10.0
17      1472.0
18       723.6
19
20
21
22    500.8944
23
24
25
26
27
28
29
30
31
32
33
34
35
36       573.9
Name: cost, dtype: object

In [54]:
piezas['type'].fillna('')

           type         type
25               Galvanizada
27  TORNILLERIA
33  TORNILLERIA

In [76]:
for i in products['caliber'].unique():
    if(i!=''):
        print(i)
        p=products.loc[products['caliber']==i]
        print(p['weight'])

14
3     1.84
4     1.84
5      1.9
6      1.9
17    1.84
18    2.01
Name: weight, dtype: object
14
19      2.09
20      0.05
21    0.0232
24
26
29
31
Name: weight, dtype: object
12
22
35
Name: weight, dtype: object
10
23
25
27
28
30
32
Name: weight, dtype: object
16
33
Name: weight, dtype: object
EST3
34
36
Name: weight, dtype: object

In [71]:
products['caliber'].unique()

array(['', 14, '14', '12', '10', '16', 'EST3'], dtype=object)

In [3]:
tablas=pd.read_sql("""SELECT TABLE_NAME, COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE COLUMN_NAME LIKE '%quotation_id%';""",cnx)

C:\Users\hp\AppData\Local\Temp\ipykernel_1408\4144108959.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tablas=pd.read_sql("""SELECT TABLE_NAME, COLUMN_NAME

In [9]:
for i in tablas['TABLE_NAME'].unique():
    print("'"+i+"', ")

'cart_products',
'double_deep_crossbars',
'double_deep_floors',
'double_deep_floor_reinforcements',
'double_deep_heavy_load_frames',
'double_deep_joist_box25s',
'double_deep_joist_box25_caliber14s',
'double_deep_joist_box2s',
'double_deep_joist_box2_caliber14s',
'double_deep_joist_c2_s',
'double_deep_joist_chairs',
'double_deep_joist_l25_caliber14s',
'double_deep_joist_l25_s',
'double_deep_joist_l2_caliber14s',
'double_deep_joist_l2_s',
'double_deep_joist_lrs',
'double_deep_joist_structurals',
'double_deep_miniature_frames',
'double_deep_spacers',
'double_deep_structural_frames',
'freights',
'grills',
'installations',
'packagings',
'questionaries',
'questionary_charts',
'questionary_images',
'questionary_layouts',
'quot25_j_galvanized_panels',
'quot25_j_painted_panels',
'quot2_j_galvanized_panels',
'quot2_j_painted_panels',
'quotation_administratives',
'quotation_installs',
'quotation_protectors',
'quotation_specials',
'quotation_travel_assignments',
'quotation_uninstalls',
'quot_chair_j_galvanized_panels',
'quot_chair_j_painted_panels',
'selective_crossbars',
'selective_floors',
'selective_floor_reinforcements',
'selective_heavy_load_frames',
'selective_joist_box25s',
'selective_joist_box25_caliber14s',
'selective_joist_box2s',
'selective_joist_box2_caliber14s',
'selective_joist_c2_s',
'selective_joist_chairs',
'selective_joist_l25_caliber14s',
'selective_joist_l25_s',
'selective_joist_l2_caliber14s',
'selective_joist_l2_s',
'selective_joist_lrs',
'selective_joist_structurals',
'selective_miniature_frames',
'selective_spacers',
'selective_structural_frames',
'uninstalls',
'wood',

In [10]:
tablas=['double_deep_crossbars', 
'double_deep_floors', 
'double_deep_floor_reinforcements', 
'double_deep_heavy_load_frames', 
'double_deep_joist_box25s', 
'double_deep_joist_box25_caliber14s', 
'double_deep_joist_box2s', 
'double_deep_joist_box2_caliber14s', 
'double_deep_joist_c2_s', 
'double_deep_joist_chairs', 
'double_deep_joist_l25_caliber14s', 
'double_deep_joist_l25_s', 
'double_deep_joist_l2_caliber14s', 
'double_deep_joist_l2_s', 
'double_deep_joist_lrs', 
'double_deep_joist_structurals', 
'double_deep_miniature_frames', 
'double_deep_spacers', 
'double_deep_structural_frames', 
'freights', 
'grills', 
'installations', 
'packagings', 
'quot25_j_galvanized_panels', 
'quot25_j_painted_panels', 
'quot2_j_galvanized_panels', 
'quot2_j_painted_panels', 
'quotation_administratives', 
'quotation_installs', 
'quotation_protectors', 
'quotation_specials', 
'quotation_travel_assignments', 
'quotation_uninstalls', 
'quot_chair_j_galvanized_panels', 
'quot_chair_j_painted_panels', 
'selective_crossbars', 
'selective_floors', 
'selective_floor_reinforcements', 
'selective_heavy_load_frames', 
'selective_joist_box25s', 
'selective_joist_box25_caliber14s', 
'selective_joist_box2s', 
'selective_joist_box2_caliber14s', 
'selective_joist_c2_s', 
'selective_joist_chairs', 
'selective_joist_l25_caliber14s', 
'selective_joist_l25_s', 
'selective_joist_l2_caliber14s', 
'selective_joist_l2_s', 
'selective_joist_lrs', 
'selective_joist_structurals', 
'selective_miniature_frames', 
'selective_spacers', 
'selective_structural_frames', 
'uninstalls', 
'wood', ]

In [30]:
id=66

In [33]:
productos=pd.DataFrame()
productos.assign(table = '')
for i in tablas:
    p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
    p['table']=i

    productos=productos.append(p)

C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_1408\1456790409.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productos=productos.append(p)

In [61]:
products['cost'][0]

0        20.0
0        3.42
0      1472.0
0      1472.0
0      1520.0
0       684.0
0        29.0
0       150.0
0      185.16
0         9.0
0      1367.6
0        10.0
0      1472.0
0       723.6
0
0
0
0    500.8944
0
0
0
0
0
0
0
0
0
0
0
0
0
0       573.9
Name: cost, dtype: object

In [1]:
11.02/12

0.9183333333333333

In [4]:
30000*0.00918

275.40000000000003

In [14]:
products[['weight','total_kg','total_weight','weight_kg']]

    weight  total_kg  total_weight  weight_kg
0      NaN       NaN           NaN        NaN
1      NaN       NaN           NaN        NaN
2      NaN       NaN           NaN        NaN
3   1.8400       NaN          1.84        NaN
4   1.8400       NaN          3.68        NaN
5   1.9000       NaN          1.90        NaN
6   1.9000       NaN          1.90        NaN
7      NaN       NaN           NaN        NaN
8      NaN       NaN           NaN        NaN
9      NaN       NaN           NaN        NaN
10     NaN       NaN          7.18        NaN
11     NaN       NaN           NaN        NaN
12     NaN       NaN           NaN        NaN
13     NaN       NaN           NaN        NaN
14     NaN       NaN           NaN        NaN
15  1.8400       NaN          1.84        NaN
16  2.0100       NaN          2.01        NaN
17  2.0900       NaN           NaN        NaN
18  0.0300       NaN           NaN        NaN
19  0.0232       NaN           NaN        NaN
20     NaN      9.99           NaN        NaN
21     NaN       NaN           NaN     1.6400
22     NaN       NaN           NaN     1.2100
23     NaN       NaN           NaN     1.6500
24     NaN       NaN           NaN     1.2200
25     NaN       NaN           NaN     1.1900
26     NaN       NaN           NaN     1.1900
27     NaN       NaN           NaN     1.2087
28     NaN       NaN           NaN     1.6289
29     NaN       NaN           NaN     1.2000
30     NaN       NaN           NaN     1.6200
31     NaN       NaN           NaN     0.8800
32     NaN       NaN           NaN     1.2000
33     NaN       NaN           NaN        NaN
34     NaN     19.13           NaN        NaN

In [16]:
for i in products.columns:
    print(i)

id
quotation_id
amount
type
depth
developing
long
caliber
kg_m2
weight
m2
connector
sku
unit_price
total_price
created_at
updated_at
tabla
length
camber
height
model
total_load_kg
total_poles
total_crossbars
total_diagonals
total_plates
total_kg
total_m2
skate
loading_capacity
type_joist
length_meters
weight_kg
use
destination
front
color
background
cost
dimensions
joist_type
price
state
unit
import
frame_background
length_dimension
total_weight
price_unit
description
system
f_total
print
breakdown_install
protector
breakdown_uninstall
uncut_front
cut_front
uncut_background
cut_background

In [20]:
med_cols=['m2','total_m2',]
products[med_cols]

        m2  total_m2  length  frame_background  length_dimension
0      NaN       NaN     NaN               NaN               NaN
1      NaN       NaN     NaN               NaN               NaN
2      NaN       NaN     NaN               NaN               NaN
3   0.2400       NaN     NaN              0.91             0.837
4   0.2400       NaN     NaN              0.91             0.837
5   0.2500       NaN     NaN              0.91             0.863
6   0.2500       NaN     NaN              0.91             0.863
7      NaN       NaN     NaN               NaN               NaN
8      NaN       NaN     NaN               NaN               NaN
9      NaN       NaN     NaN               NaN               NaN
10     NaN       NaN     NaN               NaN               NaN
11     NaN       NaN     NaN               NaN               NaN
12     NaN       NaN     NaN               NaN               NaN
13     NaN       NaN     NaN               NaN               NaN
14     NaN       NaN     NaN               NaN               NaN
15  0.2400       NaN     NaN              0.91             0.915
16  0.2600       NaN     NaN              0.91             0.915
17  0.2700       NaN     NaN               NaN               NaN
18  0.0000       NaN    0.01               NaN               NaN
19  0.0030       NaN     NaN               NaN               NaN
20     NaN      1.17     NaN               NaN               NaN
21  0.0900       NaN    0.01               NaN               NaN
22  0.0600       NaN    0.01               NaN               NaN
23  0.0900       NaN    0.01               NaN               NaN
24  0.0600       NaN    0.01               NaN               NaN
25  0.0900       NaN    0.01               NaN               NaN
26  0.0900       NaN    0.01               NaN               NaN
27  0.0647       NaN    0.01               NaN               NaN
28  0.0853       NaN    0.01               NaN               NaN
29  0.0600       NaN    0.01               NaN               NaN
30  0.0900       NaN    0.01               NaN               NaN
31  0.0600       NaN    0.01               NaN               NaN
32  0.0400       NaN    0.01               NaN               NaN
33  0.0300       NaN     NaN               NaN               NaN
34     NaN      0.91     NaN               NaN               NaN

In [27]:
for i in products.columns:
    print(products[i].values[0])

4
82
1
nan
nan
nan
nan
nan
nan
nan
nan
nan

0.0
0.0
2023-10-05T05:18:01.000000000
2023-10-05T05:18:01.000000000
grills
nan
nan
nan

nan
nan
nan
nan
nan
nan
nan
nan
20
nan
nan
nan
nan
nan
1
PINTADA
0.91
0.0
20
Tipo L 2.0
nan
nan
nan
nan
nan
nan
nan
nan

nan
nan
nan
nan

nan
nan
nan
nan
nan

In [46]:
def my_func(row, table_name):
  return row in table_name
piezas=materials.loc[materials['product'].apply(my_func,table_name='selective_joist_l2_s')]

In [47]:
piezas

,id,product,price_list_screw_id,price_list_id,amount,created_at,updated_at,price_list_auxiliars_id,cart_products_id,id,...,system,piece,cost,f_vta,f_desp,f_emb,f_desc,f_total,created_at,updated_at
34,4,selective_joist,9.0,NaN,2.0,2023-10-11,2023-10-11,NaN,0,9.0,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT

In [50]:
materials.loc[materials['product'].isin(['quotation_installs'])]

Empty DataFrame
Columns: [id, product, price_list_screw_id, price_list_id, amount, created_at, updated_at, price_list_auxiliars_id, cart_products_id, id, description, type, cost, f_vta, f_desp, f_emb, f_desc, f_total, created_at, updated_at, id, description, caliber, type, system, piece, cost, f_vta, f_desp, f_emb, f_desc, f_total, created_at, updated_at]
Index: []

[0 rows x 34 columns]

In [52]:
materials['cost'].fillna(0).values[j].sum()

34.0

In [61]:
products.loc[(~products['tabla'].isin(['quotation_installs','quotation_uninstalls','quotation_travel_assignments','packagings']))]

,id,quotation_id,amount,type,depth,developing,long,caliber,kg_m2,weight,...,system,f_total,print,breakdown_install,protector,breakdown_uninstall,uncut_front,cut_front,uncut_background,cut_background
0,4,82,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
3,4,82,1,NaN,NaN,NaN,NaN,14,NaN,1.8400,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
4,3,82,2,NaN,NaN,NaN,NaN,14,NaN,1.8400,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
5,4,82,1,NaN,NaN,NaN,NaN,14,NaN,1.9000,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
6,5,82,1,NaN,NaN,NaN,NaN,14,NaN,1.9000,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
7,4,82,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
10,22,82,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,PROTECTOR DE POSTE,NaN,NaN,NaN,NaN,NaN
11,4,82,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
15,3,82,1,NaN,NaN,NaN,NaN,14,NaN,1.8400,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
16,4,82,1,NaN,NaN,NaN,NaN,14,NaN,2.0100,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
17,6,82,1,CROSBAR 0.91 M,0.91,0.150,0.914,14,15.25,2.0900,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
18,7,82,1,NaN,NaN,NaN,NaN,14,NaN,0.0300,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
19,6,82,1,NaN,NaN,NaN,NaN,14,NaN,0.0232,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
20,22,82,1,NaN,NaN,NaN,NaN,14,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
21,2,82,1,NaN,NaN,NaN,NaN,10,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
22,4,82,1,NaN,NaN,NaN,NaN,14,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
23,3,82,1,NaN,NaN,NaN,NaN,10,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
24,3,82,1,NaN,NaN,NaN,NaN,14,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
25,4,82,1,NaN,NaN,NaN,NaN,10,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
26,3,82,1,NaN,NaN,NaN,NaN,10,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
27,12,82,1,NaN,NaN,NaN,NaN,14,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
28,3,82,1,NaN,NaN,NaN,NaN,10,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
29,5,82,1,NaN,NaN,NaN,NaN,14,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
30,4,82,1,NaN,NaN,NaN,NaN,10,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
31,2,82,1,NaN,NaN,NaN,NaN,16,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
32,3,82,1,NaN,NaN,NaN,NaN,EST3,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
33,13,82,1,NaN,NaN,0.084,0.150,12,21.25,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
34,6,82,1,NaN,NaN,NaN,NaN,EST3,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN

In [62]:
products['cost'].sum()

3513.3413

In [27]:
price_cols=['price','total_price','import','unit_price']
products[price_cols+['tabla']]

   price  total_price   import  unit_price                             tabla
0    NaN         0.00      NaN        0.00                            grills
1    NaN          NaN     3.42         NaN                        packagings
2    NaN          NaN     6.84         NaN                        packagings
3    NaN       910.23      NaN         NaN        quot25_j_galvanized_panels
4    NaN      1820.45      NaN         NaN           quot25_j_painted_panels
5    NaN       725.71      NaN         NaN         quot2_j_galvanized_panels
6    NaN       938.50      NaN         NaN            quot2_j_painted_panels
7    NaN         0.00      NaN        0.00         quotation_administratives
8    NaN          NaN    51.29         NaN                quotation_installs
9    NaN          NaN   102.57         NaN                quotation_installs
10   NaN       989.69      NaN      989.69              quotation_protectors
11   NaN         0.00      NaN        0.00                quotation_specials
12   NaN          NaN  1367.60         NaN      quotation_travel_assignments
13   NaN          NaN    34.19         NaN              quotation_uninstalls
14   NaN          NaN   102.57         NaN              quotation_uninstalls
15   NaN       910.23      NaN         NaN    quot_chair_j_galvanized_panels
16   NaN       995.05      NaN         NaN       quot_chair_j_painted_panels
17   NaN       260.80      NaN      260.80               selective_crossbars
18   NaN        34.94      NaN       14.43                  selective_floors
19   NaN        10.77      NaN       10.77    selective_floor_reinforcements
20   NaN      2091.55      NaN         NaN       selective_heavy_load_frames
21   NaN       102.16      NaN       95.32            selective_joist_box25s
22   NaN       171.18      NaN      164.34  selective_joist_box25_caliber14s
23   NaN       102.74      NaN       95.90             selective_joist_box2s
24   NaN       172.25      NaN      165.41   selective_joist_box2_caliber14s
25   NaN        76.01      NaN       69.17              selective_joist_c2_s
26   NaN        92.28      NaN       85.44            selective_joist_chairs
27   NaN       170.97      NaN      164.13    selective_joist_l25_caliber14s
28   NaN       118.22      NaN      111.38             selective_joist_l25_s
29   NaN       170.18      NaN      163.34     selective_joist_l2_caliber14s
30   NaN       117.62      NaN      110.78              selective_joist_l2_s
31   NaN       135.11      NaN      128.27               selective_joist_lrs
32   NaN       634.68      NaN      607.33       selective_joist_structurals
33   NaN       146.26      NaN      132.59                 selective_spacers
34   NaN      3550.17      NaN         NaN       selective_structural_frames

In [28]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import numpy as np
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SER√Å 0 SIEMPRE UWU
id=82
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)
quotation=pd.read_sql("select * from quotations where id=" +str(id),cnx)
#traer datos de los pedidos
# pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
# coins.exchange_sell, coins.coin, coins.symbol,coins.code
# from ((
#     internal_orders
#     inner join customers on customers.id = internal_orders.customer_id )
#     inner join coins on internal_orders.coin_id = coins.id)
#      """,cnx)
writer = pd.ExcelWriter('ventas'+str(id)+'.xlsx', engine='xlsxwriter')

workbook = writer.book
##FORMATOS PARA EL TITULO------------------------------------------------------------------------------
rojo_l = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13,
    
    'text_wrap': True,
    'num_format': 'dd/mm/yyyy'}) 
rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})      

#FORMATOS PARA CABECERAS DE TABLA --------------------------------
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'center',
    'fg_color': 'yellow',
    'border': 1,})

blue_header_format = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1})
blue_header_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'num_format': '[$$-409]#,##0.00',
    'border': 1,
    'font_size':13})
blue_footer_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1,
    'num_format': '[$$-409]#,##0.00',
    'font_size':11})
red_header_format = workbook.add_format({
    'bold': True,
    'bg_color': b_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1})

red_header_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': b_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1,
    'font_size':13})


#FORMATOS PARA TABLAS PER CE------------------------------------

blue_content = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    
    'border_color':a_color,
    'font_size':10,
    'num_format': '[$$-409]#,##0.00'})
blue_content_unit = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    
    'border_color':a_color,
    'font_size':10,
    'num_format': '0.00'})
blue_content_bold = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':11,
    'border_color':a_color,
    'num_format': '[$$-409]#,##0.00'})

blue_content_bold_dll = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':11,
    'bg_color': '#b4e3b1',
    'border_color':a_color,
    'num_format': '[$$-409]#,##0.00'})
blue_content_date = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':9,
    'border_color':a_color,
    'num_format': 'dd/mm/yyyy'})
#FOOTER FORMATS---------------------------------------------------------
observaciones_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#BDD7EE',
    'border': 1})

blue_content_dll = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'bg_color': '#b4e3b1',
    'border_color':a_color,
    'font_size':10,
    'num_format': '[$$-409]#,##0.00'})

total_cereza_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'border': 1})
df=quotation[['id','user_id']]

df[0:1].to_excel(writer, sheet_name='Sheet1', startrow=7,startcol=6, header=False, index=False)
worksheet = writer.sheets['Sheet1']
#Encabezado del documento--------------

import datetime

currentDateTime = datetime.datetime.now()
date = currentDateTime.date()
year = date.strftime("%Y")

#aki voy a trae r todos los datos
tablas={'double_deep_crossbars' : 'VIGA TIPO CAJA DE DOBLE PROFUNDIDAD DE 2.5',
'double_deep_floors' : 'SUELOS DE DOBLE PROFUNDIDAD',
'double_deep_floor_reinforcements' : 'REFUERZOS PARA EL SUELO DE DOBLE PROFUNDIDAD',
'double_deep_heavy_load_frames' : 'BASTIDORES DE CARGA PESADA DE DOBLE PROFUNDIDAD',
'double_deep_joist_box25s' : 'VIGA TIPO CAJA DE DOBLE PROFUNDIDAD DE 2.5',
'double_deep_joist_box25_caliber14s' : 'VIGA TIPO CAJA DE DOBLE PROFUNDIDAD DE 2.5 CALIBRE 14',
'double_deep_joist_box2s' : 'VIGA TIPO CAJA DE DOBLE PROFUNDIDAD DE 2',
'double_deep_joist_box2_caliber14s' : 'VIGA TIPO CAJA DE DOBLE PROFUNDIDAD DE 2 CALIBRE 14',
'double_deep_joist_c2_s' : 'VIGA DE DOBLE PROFUNDIAD TIPO C2',
'double_deep_joist_chairs' : 'VIGA DE DOBLE PROFUNDIAD TIPO SILLA',
'double_deep_joist_l25_caliber14s' : 'VIGA TIPO L DE DOBLE PROFUNDIDAD DE 2.5 CALIBRE 14',
'double_deep_joist_l25_s' : 'VIGA TIPO L DE DOBLE PROFUNDIDAD DE 2.5 ',
'double_deep_joist_l2_caliber14s' : 'VIGA TIPO L DE DOBLE PROFUNDIDAD DE 2 CALIBRE 14',
'double_deep_joist_l2_s' : 'VIGA TIPO L DE DOBLE PROFUNDIDAD DE 2 ',
'double_deep_joist_lrs' : 'VIGA DE DOBLE PROFUNDIAD TIPO LR',
'double_deep_joist_structurals' : 'VIGA DE DOBLE PROFUNDIAD TIPO ESTRUCTURAL',
'double_deep_miniature_frames' : 'MARCOS EN MINIATURA DE DOBLE PROFUNDIDAD',
'double_deep_spacers' : 'ESPACIADOR DE DOBLE PROFUNDIDAD',
'double_deep_structural_frames' : 'MARCOS ESTRUCTURALES DE DOBLE PROFUNDIDAD',
'freights' : 'FLETES',
'grills' : 'PARRILLA',
'installations' : 'INSTALACIONES',
'packagings' : 'FLETE',
'quot25_j_galvanized_panels' : 'PANELES GALVANIZADOS DE 25 ',
'quot25_j_painted_panels' : 'PANELES PINTADOS DE 25 ',
'quot2_j_galvanized_panels' : 'PANELES GALVANIZADOS DE 2 IN',
'quot2_j_painted_panels' : 'PANELES PINTADOS DE 2 IN',
'quotation_administratives' : 'PRESUPUESTOS ADMINISTRATIVOS',
'quotation_installs' : 'INSTALACION',
'quotation_protectors' : 'PRESUPUESTO PROTECTORES',
'quotation_specials' : 'PRESUPUESTO ESPECIAL',
'quotation_travel_assignments' : 'ASIGNACION DE VIAJES',
'quotation_uninstalls' : 'DESINTALACION',
'quot_chair_j_galvanized_panels' : 'PANELES GALVANIZADOS SILLA',
'quot_chair_j_painted_panels' : 'PANELES PINTADOS  SILLA',
'selective_crossbars' : 'CROSSBAR ',
'selective_floors' : 'PISO SELECTIVO',
'selective_floor_reinforcements' : 'PISO REFORZADO SELECTIVO',
'selective_heavy_load_frames' : 'MARCO SELECTIVO',
'selective_joist_box25s' : 'SELECTIVO VIGA CAJA DE 25',
'selective_joist_box25_caliber14s' : 'SELECTIVO VIGA CAJA DE 25 CALIBRE 14',
'selective_joist_box2s' : 'SELECTIVO VIGA CAJA DE 2',
'selective_joist_box2_caliber14s' : 'SELECTIVO VIGA CAJA DE 2 CALIBRE 14',
'selective_joist_c2_s' : 'SELECTIVO VIGA C2',
'selective_joist_chairs' : 'SELECTIVO VIGA SILLA',
'selective_joist_l25_caliber14s' : 'SELECTIVO VIGA L25 CALIBRE 14',
'selective_joist_l25_s' : 'SELECTIVO VIGA L25 ',
'selective_joist_l2_caliber14s' : 'SELECTIVO VIGA L2 CALIBRE 14',
'selective_joist_l2_s' : 'SELECTIVO VIGA L2',
'selective_joist_lrs' : 'SELECTIVO VIGA LSR',
'selective_joist_structurals' : 'SELECTIVO VIGA ESTRUCTURAL',
'selective_miniature_frames' : 'MARCOS EN MINIATURA SELECTIVOS',
'selective_spacers' : 'SELECTIVO ESPACIADORES',
'selective_structural_frames' : 'SELECTIVO MARCO ESTRUCTURAL',
'uninstalls' : 'DESINSTALAR',
'wood' : 'MADERA',}
aceros=pd.read_sql('select * from steels ',cnx)
aceros.loc[aceros['caliber']=='EST 3 IN','caliber']='EST3'

products=pd.DataFrame()
#iterar sobre tablas
for i in tablas:
    print(i)
    #buscar en la base de datos todos los productos de esta tabla
    #pertenecientes a la cotizacion pedida por el usuario.
    p=pd.read_sql('select * from '+i+' where quotation_id = '+str(id),cnx)
    p=p.assign(tabla=i)
    if(('cost' not in p.columns)&(len(p)>0)):
        if('caliber' not in p.columns):
             #esto es en especifico por un caso en que todas kas piezas son cal 14
             p=p.assign(caliber='14')
        try:
            p['caliber']=p['caliber'].str.replace('-','')
        except:
            print(' ')
        print(str(p['caliber'].values[0]))
        costo=aceros.loc[aceros['caliber']==str(p['caliber'].values[0]),'cost'].values[0]
        if('total_kg' in p.columns):
            p=p.assign(cost=costo*p.total_kg)
        if('total_weight' in p.columns):
           
            p=p.assign(cost=costo*p.total_weight)
        if('weight_kg' in p.columns):
         
            p=p.assign(cost=costo*p.weight_kg)
        if('weight' in p.columns):
          
            p=p.assign(cost=costo*p.weight)
        if('long' in p.columns):
           
            p=p.assign(cost=costo*p.long)
        print(i)
    products=products.append(p,ignore_index=True)
cols_to_fill_str=['description','protector','model','sku']
products[cols_to_fill_str]=products[cols_to_fill_str].fillna('')
cols_kg=['weight','total_kg','total_weight','weight_kg']
cols_m2=['m2','total_m2']
price_cols=['price','total_price','import','unit_price']
products[cols_kg+cols_m2+price_cols]=products[cols_kg+cols_m2+price_cols].fillna(0)

pricelist_protectors=pd.read_sql('select * from price_list_protectors',cnx)
quotation_protectors=pd.read_sql('select quotation_protectors.*, protectors.sku from quotation_protectors  inner join protectors on protectors.protector=quotation_protectors.protector where quotation_id ='+str(id),cnx)
quotation_shlf=pd.read_sql('select * from selective_heavy_load_frames where quotation_id ='+str(id),cnx)
df[0:1].to_excel(writer, sheet_name='Sheet1', startrow=7,startcol=6, header=False, index=False)
materials=pd.read_sql('select * from (materials left join price_list_screws on materials.price_list_screw_id= price_list_screws.id)left join price_lists on price_lists.id=materials.price_list_id',cnx)
worksheet = writer.sheets['Sheet1']
#Encabezado del documento--------------
worksheet.merge_range('B2:F2', 'REPORTE POR COTIZACION ', negro_b)
worksheet.merge_range('B3:F3', 'ADMINISTRATIVO', negro_s)
worksheet.merge_range('B4:F4', 'COSTOS ', negro_b)
worksheet.write('H2', 'A√ëO', negro_b)

worksheet.write('I2', year, negro_b)
worksheet.merge_range('J2:K3', """FECHA DEL REPORTE
DD/MM/AAAA""", negro_b)

worksheet.write('L2', date, negro_b)
worksheet.insert_image("A1", "img/logo/logo.png",{"x_scale": 0.6, "y_scale": 0.6})
worksheet.merge_range('C6:C8', 'PDA', blue_header_format)
worksheet.merge_range('D6:D8', 'SKU	', blue_header_format)
worksheet.merge_range('E6:E8', 'CANT', blue_header_format)	
worksheet.merge_range('F6:F8', 'DESCRIPCION', blue_header_format)	
worksheet.merge_range('G6:G8', 'PRECIO VNT UNIT', blue_header_format)	
worksheet.merge_range('H6:H8', 'PRECIO VNT TOTAL', blue_header_format)	
worksheet.merge_range('I6:I8', 'CALIBRE	', blue_header_format)
worksheet.merge_range('J6:J8', 'KG UNIT	', blue_header_format)
worksheet.merge_range('K6:K8', 'KG TOTAL', blue_header_format)	

row_count=9
def ret_na(value):
    try:
        x=float(value)
    except:
        x='NA'
    try:
        if(np.isnan(x)):
            x='NA'
        if(np.isinf(x)):
            x='NA'
    except:
        x='NA'
    return x
def num(value):
    try:
        x=float(value)
    except:
        x=0
    if((np.isnan(x))|(np.isinf(x))):
        x=0
    return x
#iterar sobre los productos

for i in range(0,len(products)):
    
    def my_func(row, table_name):
        return row in table_name
    piezas=materials.loc[materials['product'].apply(my_func,table_name=products['tabla'].values[i])]
    costo_product=products['cost'].values[i]
    n=len(piezas)
    piezas['type']=piezas['type'].fillna('')
    print(n,products['tabla'].values[i],row_count,products['cost'].values[i])
    #pda
    worksheet.write('C'+str(row_count), str(i*n+1), blue_content)
    #sku
    worksheet.write('D'+str(row_count), products['sku'].values[i], blue_content)
    worksheet.write('E'+str(row_count), str(products['amount'].values[i]), blue_content)
    #descripcion
    worksheet.write('F'+str(row_count), tablas[products['tabla'].values[i]]+products['protector'].values[i]+' '+products['model'].values[i], blue_content)
    #costos
    print(costo_product)
    worksheet.write('G'+str(row_count), products['cost'].values[i], blue_content)
    worksheet.write('H'+str(row_count), products['amount'].values[i]*products['cost'].values[i], blue_content)
    #calibre
    worksheet.write('I'+str(row_count), ret_na(products['caliber'].values[i]), blue_content)
    #pesos
    worksheet.write('J'+str(row_count),(num(products['total_weight'].values[i])+num(products['total_kg'].values[i])+products['weight'].values[i]+products['weight_kg'].values[i])/products['amount'].values[i], blue_content_unit)
    worksheet.write('K'+str(row_count),(num(products['total_weight'].values[i])+num(products['total_kg'].values[i])+products['weight'].values[i]+products['weight_kg'].values[i]), blue_content_unit)
    try: 
        worksheet.write('L'+str(row_count),ret_na(num(products['amount'].values[i]*products['cost'].values[i])/(num(products['total_weight'].values[i])+num(products['total_kg'].values[i]))), blue_content)
    except:
        worksheet.write('L'+str(row_count),'NA', blue_content)
    #medidas
    worksheet.write('M'+str(row_count),products['m2'].values[i]+products['total_m2'].values[0], blue_content_unit)
    worksheet.write('N'+str(row_count),(products['m2'].values[i]+products['total_m2'].values[0])*products['amount'].values[i], blue_content)
    row_count=row_count+1
    #PIEZAS PIEZAS PIEZAS CICLO DE PIEZAS
    for j in range(0,n):
        
        print('entre al ciclo')
        print(piezas['cost'].fillna(0).values[j],piezas['amount'])
        costo= piezas['cost'].fillna(0).values[j].sum()
        cant= piezas['amount'].fillna(0).values[j].sum()
        worksheet.write('C'+str(row_count), str(i*n+2+j), blue_content)
        #sku
        worksheet.write('D'+str(row_count), ''.join(materials['sku'].fillna('').values[0]), blue_content)
        worksheet.write('E'+str(row_count), str(piezas['amount'].values[j]), blue_content)
        worksheet.write('F'+str(row_count), str(piezas['description'].values[j]), blue_content)
        #costos
        worksheet.write('G'+str(row_count),costo, blue_content)
        worksheet.write('H'+str(row_count), cant*costo, blue_content)
        #calibre
        worksheet.write('I'+str(row_count), piezas['type'].values[j][0]+piezas['type'].values[j][1], blue_content_unit)
        #pesos
        worksheet.write('J'+str(row_count),str(0.0), blue_content_unit)
        worksheet.write('K'+str(row_count),str(0.0), blue_content_unit)
        row_count=row_count+1
trow=row_count


#TOTALES
worksheet.merge_range('C'+str(trow+1)+':E'+str(trow), 'TOTAL (EQV M.N)', blue_header_format_bold)
worksheet.write_formula('H'+str(trow),'{=SUM(H9:H'+str(trow-1)+')}',blue_footer_format_bold)
worksheet.write_formula('K'+str(trow),'{=SUM(K9:K'+str(trow-1)+')}',blue_footer_format_bold)
worksheet.write_formula('N'+str(trow),'{=SUM(N9:N'+str(trow-1)+')}',blue_footer_format_bold)





worksheet.set_column('A:A',15)
worksheet.set_column('D:D',20)
worksheet.set_column('F:F',25)
worksheet.set_column('L:L',15)
worksheet.set_column('G:G',15)
worksheet.set_column('H:H',15)
worksheet.set_column('I:N',15)
worksheet.set_column('P:T',15)

#worksheet.set_landscape()
worksheet.set_paper(9)
worksheet.fit_to_pages(1, 1)  
workbook.close()

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

double_deep_crossbars
double_deep_floors
double_deep_floor_reinforcements
double_deep_heavy_load_frames
double_deep_joist_box25s
double_deep_joist_box25_caliber14s
double_deep_joist_box2s
double_deep_joist_box2_caliber14s
double_deep_joist_c2_s
double_deep_joist_chairs
double_deep_joist_l25_caliber14s
double_deep_joist_l25_s
double_deep_joist_l2_caliber14s
double_deep_joist_l2_s
double_deep_joist_lrs
double_deep_joist_structurals
double_deep_miniature_frames
double_deep_spacers
double_deep_structural_frames
freights
grills
installations
packagings
quot25_j_galvanized_panels

14
quot25_j_galvanized_panels
quot25_j_painted_panels

14
quot25_j_painted_panels
quot2_j_galvanized_panels

14
quot2_j_galvanized_panels
quot2_j_painted_panels

14
quot2_j_painted_panels
quotation_administratives
quotation_installs
quotation_protectors

C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

quotation_specials
quotation_travel_assignments
quotation_uninstalls
quot_chair_j_galvanized_panels

14
quot_chair_j_galvanized_panels
quot_chair_j_painted_panels

14
quot_chair_j_painted_panels
selective_crossbars
14
selective_crossbars
selective_floors
14
selective_floors
selective_floor_reinforcements
14
selective_floor_reinforcements
selective_heavy_load_frames
14
selective_heavy_load_frames
selective_joist_box25s
10
selective_joist_box25s
selective_joist_box25_caliber14s
14
selective_joist_box25_caliber14s
selective_joist_box2s
10
selective_joist_box2s
selective_joist_box2_caliber14s
14
selective_joist_box2_caliber14s
selective_joist_c2_s
10
selective_joist_c2_s
selective_joist_chairs
10
selective_joist_chairs
selective_joist_l25_caliber14s
14
selective_joist_l25_caliber14s
selective_joist_l25_s
10
selective_joist_l25_s
selective_joist_l2_caliber14s
14
selective_joist_l2_caliber14s
selective_joist_l2_s
10
selective_joist_l2_s
selective_joist_lrs
16
selective_joist_lrs
selective_joist_structurals
EST3
selective_joist_structurals
selective_miniature_frames
selective_spacers
12
selective_spacers
selective_structural_frames
EST3
selective_structural_frames
uninstalls
wood
0 grills 9 0.0
0.0
0 packagings 10 3.42
3.42
0 packagings 11 3.42
3.42
0 quot25_j_galvanized_panels 12 73.60000000000001
73.60000000000001
0 quot25_j_painted_panels 13 73.60000000000001
73.60000000000001
0 quot2_j_galvanized_panels 14 76.0
76.0
0 quot2_j_painted_panels 15 76.0
76.0
0 quotation_administratives 16 0.0
0.0
0 quotation_installs 17 15.0
15.0
0 quotation_installs 18 15.0
15.0
0 quotation_protectors 19 201.36
201.36
0 quotation_specials 20 0.0
0.0
1 quotation_travel_assignments 21 1367.6
1367.6
entre al ciclo
[0. 1.] 22   NaN
Name: amount, dtype: float64

C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:315: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products=products.append(p,ignore_index=True)
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\xlsxwriter\worksheet.py:1439: UserWarning: Image file 'img/logo/logo.png' not found.
  warn("Image file '%s' not found." % filename)
C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_3344\3609105962.py:385: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  piezas['type']=piezas['type'].fillna('')

0 quotation_uninstalls 23 10.0
10.0
0 quotation_uninstalls 24 10.0
10.0
0 quot_chair_j_galvanized_panels 25 73.60000000000001
73.60000000000001
0 quot_chair_j_painted_panels 26 80.39999999999999
80.39999999999999
0 selective_crossbars 27 36.56
36.56
4 selective_floors 28 1.2
1.2
entre al ciclo
[ 0. 37.] 31     NaN
32     6.0
33     8.0
34    10.0
Name: amount, dtype: float64
entre al ciclo
[1. 0.] 31     NaN
32     6.0
33     8.0
34    10.0
Name: amount, dtype: float64
entre al ciclo
[1. 0.] 31     NaN
32     6.0
33     8.0
34    10.0
Name: amount, dtype: float64
entre al ciclo
[1. 0.] 31     NaN
32     6.0
33     8.0
34    10.0
Name: amount, dtype: float64
0 selective_floor_reinforcements 33 0.9279999999999999
0.9279999999999999
5 selective_heavy_load_frames 34 399.6
399.6
entre al ciclo
[1. 0.] 0     4.0
1     4.0
2     4.0
35    NaN
36    NaN
Name: amount, dtype: float64
entre al ciclo
[8. 0.] 0     4.0
1     4.0
2     4.0
35    NaN
36    NaN
Name: amount, dtype: float64
entre al ciclo
[ 0. 37.] 0     4.0
1     4.0
2     4.0
35    NaN
36    NaN
Name: amount, dtype: float64
entre al ciclo
[0. 0.] 0     4.0
1     4.0
2     4.0
35    NaN
36    NaN
Name: amount, dtype: float64
entre al ciclo
[0. 0.] 0     4.0
1     4.0
2     4.0
35    NaN
36    NaN
Name: amount, dtype: float64
1 selective_joist_box25s 40 27.88
27.88
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_box25_caliber14s 42 48.4
48.4
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_box2s 44 28.049999999999997
28.049999999999997
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_box2_caliber14s 46 48.8
48.8
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_c2_s 48 20.23
20.23
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_chairs 50 20.23
20.23
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_l25_caliber14s 52 48.348000000000006
48.348000000000006
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_l25_s 54 27.691300000000002
27.691300000000002
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_l2_caliber14s 56 48.0
48.0
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_l2_s 58 27.540000000000003
27.540000000000003
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_lrs 60 35.2
35.2
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_joist_structurals 62 36.0
36.0
entre al ciclo
[1. 0.] 3    2.0
Name: amount, dtype: float64
1 selective_spacers 64 5.784
5.784
entre al ciclo
[1. 0.] 4    4.0
Name: amount, dtype: float64
2 selective_structural_frames 66 573.9
573.9
entre al ciclo
[0. 0.] 35   NaN
36   NaN
Name: amount, dtype: float64
entre al ciclo
[0. 0.] 35   NaN
36   NaN
Name: amount, dtype: float64
14
10
16
EST3
12