In [1]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import numpy as np
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
# id=str(sys.argv[1])
id='82'
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')


# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)

cursor=cnx.cursor()

In [2]:
loading=pd.read_excel('loading.xlsx')

In [9]:
loading=loading.astype(str)

In [7]:
query='INSERT INTO type_l_r_joist_loading_capacities(caliber,loading_capacity,crossbar_length,camber) values(%s,%s,%s,%s)'

In [10]:
for i in range(len(loading)):
    cursor.execute(query,tuple([loading['calibre'].values[i],
                                loading['capacidad'].values[i],
                                loading['longitud'].values[i],
                                loading['peralte'].values[i],
                                   ]))
cnx.commit()

In [11]:
lr=pd.read_excel('tablas_lr.xlsx')

In [16]:
lr=lr.astype(str)

In [18]:
lr.columns

Index(['largo', 'sku', 'peso', 'm2', 'precio', 'peralte', 'calibre'], dtype='object')

In [24]:
query='INSERT INTO type_l_r_joists(length,sku,weight,m2,price,camber,caliber) values(%s,%s,%s,%s,%s,%s,%s)'

In [26]:
for i in range(len(lr)):
    cursor.execute(query,tuple([lr['largo'].values[i],
                                lr['sku'].values[i],
                                lr['peso'].values[i],
                                lr['m2'].values[i],
                                lr['precio'].values[i],   
                                lr['peralte'].values[i],
                                lr['calibre'].values[i],
                                   ]))
cnx.commit()

In [27]:
loading

    calibre capacidad longitud peralte
0        14      3240     1.22     3.0
1        14      2875     1.37     3.0
2        14      2590     1.52     3.0
3        14      1830     2.13     3.0
4        14      1595     2.29     3.0
..      ...       ...      ...     ...
191      15      3880     2.89     6.0
192      15      3685     3.05     6.0
193      15      3350     3.35     6.0
194      15      3205      3.5     6.0
195      15      2610     3.66     6.0

[196 rows x 4 columns]

In [3]:
data=pd.read_excel('entpint.xlsx',sheet_name='ENTREPAÑO C-26',skiprows=[0])

In [4]:
data

,DESARROLLO,Unnamed: 1,DIMENSIONES VENTA,Unnamed: 3,SKU,CALIBRE,KG / M2,PESO,M2,PRECIO VENTA,CAPACIDAD DE CARGA (KG),CON 1 REFUERZO,CON 2 REFUERZOS
0,FONDO M,FRENTE M,FONDO M,LARGO M,NaN,NaN,21.25,NaN,NaN,PINTADO,NaN,NaN,NaN
1,0.412,0.9,0.3,0.83,TC0000124771,24.0,3.53,1.308924,0.74160,213.285721,20 KILOS,30 KILOS,40 KILOS
2,0.562,NaN,0.45,NaN,TC0000124772,24.0,3.53,0.000000,0.00000,0,NaN,NaN,NaN
3,0.712,NaN,0.6,NaN,TC0000124773,24.0,3.53,0.000000,0.00000,0,NaN,NaN,NaN
4,0.412,0.98,0.3,0.91,TC0000124774,24.0,3.53,1.425273,0.80752,232.244452,20 KILOS,30 KILOS,40 KILOS
5,0.56,NaN,0.45,NaN,TC0000124775,24.0,3.53,0.000000,0.00000,0,NaN,NaN,NaN
6,0.712,NaN,0.6,NaN,TC0000124776,24.0,3.53,0.000000,0.00000,0,NaN,NaN,NaN
7,0.412,1.07,0.3,1,TC0000124777,24.0,3.53,1.556165,0.88168,253.573024,20 KILOS,30 KILOS,40 KILOS
8,0.56,NaN,0.45,NaN,TC0000124778,24.0,3.53,0.000000,0.00000,0,NaN,NaN,NaN
9,0.712,NaN,0.6,NaN,TC0000124779,24.0,3.53,0.000000,0.00000,0,NaN,NaN,NaN
10,0.412,1.27,0.3,1.2,TC0000124780,24.0,3.53,1.847037,1.04648,300.969851,15 KILOS,25 KILOS,35 KILOS
11,0.56,NaN,0.45,NaN,TC0000124781,24.0,3.53,0.000000,0.00000,0,NaN,NaN,NaN
12,0.712,NaN,0.6,NaN,TC0000124782,24.0,3.53,0.000000,0.00000,0,NaN,NaN,NaN